// COLORS

$color-primary-light: #6fc6d5;
$color-primary: #699ec1;
$color-primary-dark: #155d8c;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT SIZES

$default-font-size: 1.6rem;

// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
